<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedStore | Ecommerce Website Design</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Add this to the head of your HTML file -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-aP5u4r9zkLgWu52ENjI7pDqf5A7DfNcQg7uxTRqUbJNOt1Rg8bgRw+A1OSiq1Yz9pHz0ftLZlO5bWOpbMWDKpkQ==" crossorigin="anonymous" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Bootstrap JS and Popper.js -->
<!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<!-- Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




</head>

<body>
    
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" width="125px">
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="/">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        
                        <li><a href="/logout">Logout From Page</a></li>
                        <li><a href="/login">Account</a></li>

                    </ul>
                </nav>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cartModal">
                    <img src="{{ url_for('static', filename='images/cart.png') }}" width="30px" height="30px">
                   Open Cart
                </button>
                
                
                <!-- Profile dropdown button -->
                <div class="dropdown">
                    <button class="hey" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3f" alt="" class="profile-picture">

                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#"> <i class="fas fa-user"></i> Profile</a>
                        <a class="dropdown-item" href="#"> <i class="fas fa-cog"></i> Settings</a>
                        <a class="dropdown-item" href="#"> <i class="fas fa-sign-out-alt"></i> Log out</a>
                    </div>
                </div>

                    
                
                    <!-- Add a button to toggle the cart -->

                </form>
                <img src="{{ url_for('static', filename='images/menu.png') }}" class="menu-icon" onclick="menutoggle()">
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>Give Your Workout <br> A New Style!</h1>
                    <p>Success isn't always about greatness. It;s about consistency. Consistent <br> hard work gains
                        success. Greatness will come.</p>
                    <a href="" class="btn">Explore Now &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="{{ url_for('static', filename='images/image124.png') }}">
             </div>
            </div>
        </div>
    </div>

    <!-- Feadtued Categories -->

    <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="{{ url_for('static', filename='images/category-1.jpg') }}">
                </div>
                <div class="col-3">
                    <img src="{{ url_for('static', filename='images/category-2.jpg') }}">
                </div>
                <div class="col-3">
                    <img src="{{ url_for('static', filename='images/category-3.jpg') }}">
                </div>
            </div>
        </div>
    </div>

    <!-- Featured Products -->

    <div class="small-container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
            <div class="col-4">
                <a href="product_details.html"><img src="{{ url_for('static', filename='images/product-1.jpg') }}"></a>
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="{{ url_for('static', filename='images/product-2.jpg') }}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="{{ url_for('static', filename='images/product-3.jpg') }}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="{{ url_for('static', filename='images/product-4.jpg') }}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
        </div>
        <h2 class="title">Latest Products</h2>
        <div class="row">
            <div class="col-4">
                <img src="{{ url_for('static', filename='images/product-5.jpg') }}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="{{ url_for('static', filename='images/product-6.jpg') }}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="{{ url_for('static', filename='images/product-7.jpg') }}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
                <form method="POST" action="{{ url_for('views.addproduct') }}">
                    <input type="hidden" name="product_name" value="Red Printed T-Shirt">
                    <input type="hidden" name="product_price" value="50.00">
                    <button type="submit">  Add to Cart</button>
                </form>
            </div>
            <div class="col-4">
                <img src="{{ url_for('static', filename='images/Fossil Black premium watch.jpg') }}">
                <h4>Fossil Black premium watch</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
                <form method="POST" action="{{ url_for('views.addproduct') }}">
                    <input type="hidden" name="product_name" value="Fossil Black premium watch">
                    <input type="hidden" name="product_price" value="50.00">
                    <button type="submit">  Add to Cart</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="{{ url_for('static', filename='images/Roadster Black premium wathc Limited edition.jpg') }}">
                <h4>Roadster Black premium wathc Limited edition    </h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$60.00</p>
                
                <form method="POST" action="{{ url_for('views.addproduct') }}">
                    <input type="hidden" name="product_name" value="Roadster Black premium wathc Limited edition">
                    <input type="hidden" name="product_price" value="60.00">
                    <button type="submit">  Add to Cart</button>
                </form>

            </div>

 <!-- after every  ___ 4 __ element a row is being formed
           {% for product in products %}
            <div class="col-4">
                <img src="{{ product.image }}">
                <h4>{{ product.name }}</h4>
                <p>${{ product.price }}</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <form method="POST" action="/add_to_cart">
                    <input type="hidden" name="product_name" value="{{ product.name }}">
                    <input type="hidden" name="product_price" value="{{ product.price }}">
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
        {% endfor %}
                
        -->



            <div class="col-4">
                <img src="{{ url_for('static', filename='images/product-10.jpg') }}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="{{ url_for('static', filename='images/product-11.jpg') }}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="{{ url_for('static', filename='images/product-12.jpg') }}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
        </div>
    </div>

    <!-- Offer -->
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="{{ url_for('static', filename='images/exclusive.png') }}" class="offer-img">
                </div>
                <div class="col-2">
                    <p>Exclusively Available on RedStore</p>
                    <h1>Smart Band 4</h1>
                    <small>The Mi Smart Band 4 fearures a 39.9%larger (than Mi Band 3) AMOLED color full-touch display
                        with adjustable brightness, so everything is clear as can be.<br></small>
                    <a href="products.html" class="btn">Buy Now &#8594;</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Testimonial -->
    <div class="testimonial">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        industry's standard dummy text.</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="{{ url_for('static', filename='images/user-1.png') }}">
                    <h3>Sean Parker</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        industry's standard dummy text.</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="{{ url_for('static', filename='images/user-2.png') }}">
                    <h3>Mike Smith</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        industry's standard dummy text.</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="{{ url_for('static', filename='images/user-3.png') }}">
                    <h3>Mabel Joe</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Brands -->

 

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="{{ url_for('static', filename='images/play-store.png') }}">
                        <img src="{{ url_for('static', filename='images/app-store.png') }}">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="{{ url_for('static', filename='images/logo-white.png') }}">
                    <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many.
                    </p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow Us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2020 - Samwit Adhikary</p>
        </div>
    </div>

<!--cart dropdown display  -->
            <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="cartModalLabel">Your Cart</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Add content for your cart here -->
   <!-- For example, display items from the user's cart -->
   <ul>
    {% for item in current_user.items %}
        <li id="item-{{ item.id }}">
            <img src="{{item.image}}"  width="40" height="50">
            {{ item.productName }} - ${{ item.productPrice }} - Quantity: {{ item.quantity }}
            <button onclick="removeItemFromCart({{ item.id }})" type="button" class="btn btn-danger btn-sm">Remove</button>
        </li>
    {% endfor %}
</ul>

{% if not current_user.items %}
    <p>Your cart is empty.</p>
{% else %}
    <p id="total-amount">Total Amount: ${{ current_user.totalamt }}</p>
    <form method="POST" action="{{ url_for('views.checkout') }}">
        <button type="submit" class="btn btn-primary">Checkout</button>
    </form>
{% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <!-- Add other buttons or actions as needed -->
                        </div>
                    </div>

                </div>
            </div>
    
<!-- user profile dropdown system-->






    <!-- javascript not a big deal heeheheh -->

<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>


<!-- JavaScript -->
function addItemToCart(item_id, product_name, product_price){
    $.ajax({
        type: "POST",
        url: "/addproduct",
        data : {
            'item_id': item_id,
            'product_name': product_name,
            'product_price': product_price
        },
        success: function(response) {
            if (response.success) {
                // Add the item to the page
                // You'll need to decide how you want to display the new item
                // Update the total amount
                $('#total-amount').text("Total Amount: $" + response.new_total);
            } else {
                // Handle the error
                console.error(response.error);
            }
        }
    })
}





</script>


<script>
function removeItemFromCart(item_id){
    $.ajax({
        type: "POST",
        url: "/remove_from_cart/" + item_id,
        success: function(response) {
            if (response.success) {
                // Remove the item from the page
                $('#item-' + item_id).remove();
                // Update the total amount
                $('#total-amount').text("Total Amount: $" + response.new_total);
            } else {
                // Handle the error
                console.error(response.error);
            }
        }
    })
}
</script>



    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px"
            }
            else {
                MenuItems.style.maxHeight = "0px"
            }
        }
    </script>




